@media screen and (min-width: 1025px) {
    .slideshow-container {
        height: 600px;
        width: 75%;
        margin-left: 12.5%;
        margin-top: 20px !important;
        }
    .popup-description-container {
        height: 440px;
        width: 70%;
        margin:8% 0 0 15%;
    }
    .popup-description-container p {
        font-size: 12pt;
        line-height: 25px;
        }

    .popup-description-container #ex_high {
        width: 20%;
        margin:110px 45px 0 0px;
        font-size: 25pt;
        line-height: 35px;
    }

    .popup-description-container #ex_high img {
        margin:20px 70px 0 0;
        }

    .popup-highlights{
        background-color: #ffffff;
        }

    .tertiary-container .highSlides img {
        height: 420px;
        margin-top: 90px !important;
    }

    .next {
        right: 44px;
    }

    /* Caption text */
    .highSlides-caption {
        color: #000000;
        padding: 4px;
        position: absolute;
        margin: 0 0 0 17.5%;
        width: 65%;
        text-align: center;
        font-family: Gilroy;
        font-weight: 300;
        font-size: 14pt;
    }

    .numbertext {
        top: 35px;
        right: 7%;
    }

    .featured, .resources {
        height: 100vh;
        }

     #featured-header, #resources-header {
        margin-top: 12px;
        margin-left: 0px;
        position: relative;
        z-index: 9;
        }

    .featured-header-icons, .resources-header-icons {
        margin: 30px 0px 0 0px;
    }

    #resources-secondary {
        position: relative;
        margin-top: 0px;
				  height: 50px !important;
    }
    
    #featured-list-container .featured-grid li, #resources-list-container .resources-grid li {
        height: 375px !important;
        }

    .featured-grid .featured-grid-title {
        margin:-55px 0 0 0;
        }

    .featured-grid .featured-grid-number {
        margin:-50px 0 0 25%;
        }

    #featured-list-container .featured-list li, #resources-list-container .resources-list li {
        height: 450px;
    }

    .featured-list .featured-grid-title, .resources-list .resources-grid-title{
          margin: -275px 0px 20px 32%;
    }
    .resources-list .resources-grid-type{
        margin:-230px 0px 20px 32% !important;
    }
    .resources-list .resources-grid-year{
        margin:-200px 0px 20px 32% !important;
    }

   #featured-footer, #resources-footer {
    height: 240px;
    }

    #featured-footer-secondary, #resources-footer-secondary {
    margin-top: 5%;
    float: right;
    }

 .primary {
    height:730px;
    }

.base-nav li:nth-child(4) {
    margin-top: 10px;
}
.grid-trigger {
    top: 20px;
    }
}

/*

@media screen and (max-height: 769px){
.highSlides img, .itemSlides img
    { margin-top: 5px !important;
}
#list-item-links h1 a{
	font-size: 12px !important;
}
#list-item-links h2{
	font-size: 13px !important;
}
#featured-header h1, #resources-header h1{
	font-size: 30pt !important;
}

#featured-footer,#resources-footer{
	margin-top:200px !important;
}
		.tertiary-container {
			height: 900px !important;
		}
}
*/
